<div class="ABookPage">
    <div class="ABookPage__container--another">
        <section class="ABIndex">
            
            <div class="ABIndex__heading">
                <h2>書籍一覧</h2>
            </div>
            
            <div class="ABIndex__action__new">
                <%= link_to new_admin_book_path, class: "d-flex flex-row-reverse pb-3" do %>
                <i class="far fa-plus-square fa-2x"></i>
            <% end %>
            </div>
            
            <div class="ABIndex__contents">
            <table class="ABIndex__table">
                <tr>
                    <th class="ABIndex__thread">タイトル</th>
                    <th class="ABIndex__thread">作者</th>
                    <th class="ABIndex__thread--category">分類</th>
                    <th class="ABIndex__thread--category">ジャンル</th>
                    <th class="ABIndex__thread--status">編集ステータス</th>
                </tr>
                
                 <% @books.each do |book|%>
                 <tr>
                     <td class="ABIndex__date--name"><p class="ABIndex__text--name text-truncate"><%= book.name %></p></td>
                     <td class="ABIndex__date"><p class="ABIndex__text--name text-truncate"><%= book.writer %></p></td>
                     <td class="ABIndex__date"><p class="ABIndex__text text-truncate"><%= book.classification.name %></p></td>
                     <td class="ABIndex__date"><p class="ABIndex__text text-truncate"><%= book.genre.name %></p></td>
                     <td class="ABIndex__date"><p class="ABIndex__text text-truncate"><%= book.edit_status %></p></td>
                     <td class="ABIndex__date"><%= link_to "詳細", admin_book_path(book), class: "ABIndex__btn--show" %></td>
                     <td class="ABIndex__date"><%= link_to "削除", admin_book_path(book), method: :delete, class: "ABIndex__btn--delete" %></td>
                 </tr>
                 <% end %>
            </table>
            <div class="ABIndex__paginate" >
                    <%= paginate @books %>
                </div>
        </section>

    </div>
</div>

