<div class="AreviewPage">
  <div class="AreviewPage__container">
    
    <section class="AREdit">
        
        <div class="AREdit__action__return">
            <%= link_to "戻る", admin_review_path(@review), class: "AREdit__btn__return" %>
        </div>
        
        <div class="AREdit__heading">
            <h2>書籍編集</h2>
        </div>
        
        <div class="AREdit__contents">
            
            <div class="AREdit__reviewImage">
                <div class="AREdit__ImageTag">
                    <p>現在の画像</p>
                </div>
                <div class="AREdit__image">
                    <%= attachment_image_tag @review.user, :image, :fill, 300, 300 %>
                </div>
            </div>
            
            <div class="AREdit__form">
            <%= form_with model: @review, url: admin_review_path(@review), method: :patch, local: true do |f| %>
                <table class="AREdit__item">
                    <tr>
                        <th class="AREdit__thread"><span class="AREdit__tag">コメント</span></th>
                    </tr>
                    <tr>
                        <td class="AREdit__thread"><%= @review.comment %></td>
                    </tr>
                    <tr>
                        <th class="AREdit__thread"><span class="AREdit__tag">コメントステータス：</span></th>
                        <td class="AREdit__thread">
                            <% if @review.is_active == true %>
                            <%= f.radio_button :review_option, 0, checked: "checked" %><%= f.label :is_active, "正常" %>
                            <%= f.radio_button :review_option, 1 %><%= f.label :is_active, "違反" %>
                            <% else %>
                            <%= f.radio_button :review_option, 0 %><%= f.label :is_active, "正常" %>
                            <%= f.radio_button :review_option, 1, checked: "checked" %><%= f.label :is_active, "違反" %>
                            <% end %>
                        </td>
                    </tr>
                </table>
                <div class="AREdit__action">
                    <%= f.submit "変更", class: "AREdit__btn" %>
                </div>
            <% end %>
            </div>
        </div>
        
    </section>

  </div>
</div>
