<div class="AReviewPage">
  <div class="AReviewPage__container">
    
    <section class="ARShow">
        
         <div class="ARShow__action__return">
            <%= link_to "戻る", admin_books_path, class: "BEdit__btn__return" %>
        </div>
        
        <div class="ARShow__heading">
            <h2>コメント詳細</h2>
        </div>
        
        <div class="ARShow__contents">
            <div class="ARShow__UserInfo">
                <%= link_to admin_user_path(@review.user), class: "ARShow__link" do %>
                <%= attachment_image_tag @review.user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '200x200'  %>
                <% end %>
                <div class="ARShow__UserName">
                    <%= @review.user.nick_name %>
                </div>
            </div>
            <div class="ARShow__reviewDate">
                <table class="ARShow__form__item">
                    <tr>
                        <th class="ARShow__thread"><span class="ARShow__tag">コメント</span></th>
                    </tr>
                    <tr>
                        <td class="ARShow__data"><span class="ARShow__text"><%= @review.comment %></span></td>
                    </tr>
                </table>
                <div class="ARShow__action">
                    <%= link_to "編集", edit_admin_review_path(@review), class: "ARShow__btn--edit" %>
                    <%= link_to "削除", admin_review_path(@review), method: :delete, class: "ARShow__btn--delete" %>
                </div>
            </div>
        </div>
        
    </section>

  </div>
</div>

