<div class="AHomesPage">
    <div class="AHomesPage__container">
        <section class="AHTop">
            
            <div class="AHTop__heading">
                    <h2>通報一覧</h2>
                </div>
            
            <div class="AHTop__PageTabs">
                <%= link_to "books", admin_violation_books_path, remote: true, class: "AHTop__tab" %>
                <%= link_to "reviews", admin_violation_reviews_path, remote: true, class: "AHTop__tab--other" %>
            </div>
            
            <div class="AHTop__index">
                
                <% if @books.blank? %>
                <div>
                    <div class="AHTop__none">
                        <h2>違反報告はありません</h2>
                    </div>
                </div>
                
                <% else %>
                <div class="AHTop__contents">
                    <table class="AHTop__table">
                        <tr>
                            <th class="AHTop__thread">タイトル</th>
                            <th class="AHTop__thread">作者</th>
                            <th class="AHTop__thread--category">分類</th>
                            <th class="AHTop__thread--category">ジャンル</th>
                            <th class="AHTop__thread--status">編集ステータス</th>
                            <th class="AHTop__thread--status">書籍ステータス</th>
                        </tr>
                        
                         <% @books.each do |book|%>
                         <tr>
                             <td class="AHTop__date"><%= book.name %></td>
                             <td class="AHTop__date"><%= book.writer %></td>
                             <td class="AHTop__date"><%= book.classification.name %></td>
                             <td class="AHTop__date"><%= book.genre.name %></td>
                             <td class="AHTop__date"><%= book.edit_status %></td>
                             <td class="AHTop__date"><%= book.is_active %></td>
                             <td class="AHTop__date"><%= link_to "詳細", admin_book_path(book), class: "AHTop__btn--show" %></td>
                             <td class="AHTop__date"><%= link_to "削除", admin_book_path(book), method: :delete, class: "AHTop__btn--delete" %></td>
                         </tr>
                         <% end %>
                    </table>
                </div>
                <% end %>
            </div>
        </section>

    </div>
</div>

