.sign
  .sign__container

    .sign__header
      %h2.sign__headerText
        EE.Books 会員登録

    .sign__form
      = form_with model: @user, url: user_registration_path, id:'new_user', class:'new_user', local: true do |f|

        .sign__formItems

          .sign__formItem
            = f.label :メールアドレス, class:"sign__formTag"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class:"sign__formTextBox formText"
            %p.error
          .sign__formItem
            = f.label :パスワード, class:"sign__formTag"
            %br/
            = f.password_field :password, autocomplete: "new-password", class:"sign__formTextBox formText", id:"password"
            %p.error
            - if @minimum_password_length
              %em.sign__formAnnounce
                ※#{@minimum_password_length}文字以上で入力してください
          .sign__formItem
            = f.label :確認用,class:"sign__formTag"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class:"sign__formTextBox formText", id:"rePassword"
            %p.error
          .sign__actions
            %button.sign__formBtn#signUpBtn
              登録
= javascript_include_tag "signUpForm"
