<div class="ARPage">
  <div class="ARPage__container">
    <div class="ARPage__content">
      <div class="ARPage__heading">
        <h2>新規会員登録</h2>
      </div>
      <div class="ARPage__form">
        <%= form_with model: @admin, url: admin_registration_path, id: 'new_admin', class: 'new_admin', local: true do |f| %>
          <%= render "admin/shared/error_messages", resource: resource %>
          
          <div class="ARPage__form__name">
            <%= f.label :メールアドレス %>
          </div>
          <div class="ARPage__form__TextBox">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="ARPage__form__name">
            <%= f.label :パスワード %>
          </div>
          <div class="ARPage__form__TextBox--input">
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で入力して下さい)</em>
            <% end %>
          </div>
        
          <div class="ARPage__form__TextBox">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <em>(確認のため再度入力して下さい)</em>
          </div>
        
          <div class="ARPage__form__actions">
            <%= f.submit "Sign up", class: "ARPage__form__btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
