.adminUserFrame
  .adminUserFrame__announce
    =link_to "ホーム", admin_violation_books_path, class: "adminUserFrame__announce__link"
    %p.adminUserFrame__announce__separate /
    =link_to "会員一覧", admin_users_path, class: "adminUserFrame__announce__link"
    %p.adminUserFrame__announce__separate /
    =link_to "会員詳細", admin_user_path, class: "adminUserFrame__announce__link"
    %p.adminUserFrame__announce__separate /
    %p.adminUserFrame__announce__link 会員情報編集

  .adminUserEdit
    .AUEdit__container
      .AUEdit__bookImage
        .AUEdit__image
          = attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '300x300'
        .AUEdit__imageTag
          %p 現在の画像
      .AUEdit__form
        = form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f|
          %table.AUEdit__item
            %tr
              %th.AUEdit__thread
                %span.AUEdit__tag プロフィール画像
              %td.AUEdit__thread= f.attachment_field :image
            %tr
              %th.AUEdit__thread
                %span.AUEdit__tag ニックネーム
              %td.AUEdit__thread= f.text_field :nick_name
            %tr
              %th.AUEdit__thread
                %span.AUEdit__tag メールアドレス
              %td.AUEdit__thread= f.text_field :email
            %tr
              %th.AUEdit__thread
                %span.AUEdit__tag 会員ステータス
              %td.AUEdit__thread
                - if @user.is_active == true
                  = f.radio_button :is_active, true, checked: "checked"
                  = f.label :is_active, "有効"
                  = f.radio_button :is_active, false
                  = f.label :is_active, "退会"
                - else
                  = f.radio_button :is_active, true
                  = f.label :is_active, "有効"
                  = f.radio_button :is_active, false, checked: "checked"
                  = f.label :is_active, "退会"
          .AUEdit__action
            = f.submit "変更", class: "AUEdit__btn"
