.AUserPage
  .AUserPage__container
    %section.AUShow
      .AUShow__action__return
        = link_to "<< 一覧へ戻る", admin_users_path, class:"AUShow__btn__return"
      .AUShow__heading
        %h2 会員詳細
      .AUShow__contents
        .AUShow__UserImage
          = attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '300x300'
        .AUShow__table
          %table
            %tr
              %th.AUShow__thread
                %span.AUShow__tag 登録日：
              %td.AUShow__date= @user.created_at.strftime('%y年%m月%d日')
            %tr
              %th.AUShow__thread
                %span.AUShow__tag ニックネーム：
              %td.AUShow__date= @user.nick_name
            %tr
              %th.AUShow__thread
                %span.AUShow__tag メールアドレス：
              %td.AUShow__date= @user.email
            %tr
              %th.AUShow__thread
                %span.AUShow__tag 会員ステータス：
              %td.AUShow__date
                - if @user.is_active == true
                  有効
                - else @user.is_active == false
                  退会
            %tr
              %th.AUShow__thread
                %span.AUShow__tag
              %td.AUShow__date
          .AUShow__action
            = link_to "編集", edit_admin_user_path(@user), class: "AUShow__btn"
