.BRecomend
    .BRecomend__heading
        %h2 あなたにおすすめ
    .BRecomend__contents
        .BRecomend__slides
            - 5.times do |n|
                - book = Book.find(rankings[n].id)
                - if n == 0
                    =link_to book_path(book) do
                        .BRecomend__item.BRecomend__left
                            .BRecomend__book
                                .BRecomend__bookImage
                                    = attachment_image_tag book, :image, fallback: "no_image_book.jpeg", size: "300x300", class: "BRecomend__image"
                                .BRecomend__bookData
                                    .content
                                        .BRecomend__recomendBookData= book.name
                                        .BRecomend__recomendBookData= book.writer
                                        .BRecomend__recomendBookData= book.classification.name
                                        .BRecomend__recomendBookData= book. genre.name
                - elsif n == 1
                    =link_to book_path(book) do
                        .BRecomend__item.BRecomend__main
                            .BRecomend__book
                                .BRecomend__bookimage
                                    = attachment_image_tag book, :image, fallback: "no_image_book.jpeg", size: "300x300"
                                .BRecomend__bookData
                                    .content
                                        .BRecomend__recomendBookData= book.name
                                        .BRecomend__recomendBookData= book.writer
                                        .BRecomend__recomendBookData= book.classification.name
                                        .BRecomend__recomendBookData= book. genre.name
                - elsif n == 2
                    =link_to book_path(book) do
                        .BRecomend__item.BRecomend__right
                            .BRecomend__book
                                .BRecomend__bookImage
                                    = attachment_image_tag book, :image, fallback: "no_image_book.jpeg", size: "300x300"
                                .BRecomend__bookData
                                    .content
                                        .BRecomend__recomendBookData= book.name
                                        .BRecomend__recomendBookData= book.writer
                                        .BRecomend__recomendBookData= book.classification.name
                                        .BRecomend__recomendBookData= book. genre.name
                - else
                    =link_to book_path(book) do
                        .BRecomend__item
                            .BRecomend__book
                                .BRecomend__bookImage
                                    = attachment_image_tag book, :image, fallback: "no_image_book.jpeg", size: "300x300"
                                .BRecomend__bookData
                                    .content
                                        .BRecomend__recomendBookData= book.name
                                        .BRecomend__recomendBookData= book.writer
                                        .BRecomend__recomendBookData= book.classification.name
                                        .BRecomend__recomendBookData= book. genre.name
                                    
            %i.fas.fa-2x.fa-chevron-circle-left.BRecomend__leftIcon
            %i.fas.fa-2x.fa-chevron-circle-right.BRecomend__rightIcon
        
        :javascript
            
            $(function() {
                
                
                $('.BRecomend__leftIcon').click(function() {
                    var $item = $('.BRecomend__item');
                    var $itemLeft = $('.BRecomend__left');
                    var $itemMain = $('.BRecomend__main');
                    var $itemRight = $('.BRecomend__right'); 
                    var left = $item.index($itemLeft);
                    var main = $item.index($itemMain);
                    var right = $item.index($itemRight);

                    $item.eq(left).fadeOut();
                    $item.eq(main).fadeOut();
                    $item.eq(right).fadeOut();
                    
                    
                    $itemLeft.removeClass('BRecomend__left');
                    $itemMain.removeClass('BRecomend__main');
                    $itemRight.removeClass('BRecomend__right');
                    
                    left +=  1;
                    main +=  1;
                    right += 1;
                    
                    if (right == 5) {
                        $item.eq(0).addClass('BRecomend__right').fadeIn();
                    }else{
                        $item.eq(right).addClass('BRecomend__right').fadeIn();
                    }
                    if (main == 5) {
                        $item.eq(0).addClass('BRecomend__main').fadeIn();
                    }else{
                        $item.eq(main).addClass('BRecomend__main').fadeIn();
                    }
                    if (left == 5) {
                        $item.eq(0).addClass('BRecomend__left').fadeIn();
                    } else {
                        $item.eq(left).addClass('BRecomend__left').fadeIn();
                    }
                    

                });
                
                $('.BRecomend__rightIcon').click(function() {
                
                    var $item = $('.BRecomend__item');
                    var $itemLeft = $('.BRecomend__left');
                    var $itemMain = $('.BRecomend__main');
                    var $itemRight = $('.BRecomend__right'); 
                    var left = $item.index($itemLeft);
                    var main = $item.index($itemMain);
                    var right = $item.index($itemRight);
                    
                    $item.eq(left).fadeOut();
                    $item.eq(main).fadeOut();
                    $item.eq(right).fadeOut();
                    $itemLeft.removeClass('BRecomend__left');
                    $itemMain.removeClass('BRecomend__main');
                    $itemRight.removeClass('BRecomend__right');
                    
                    left = left - 1;
                    main = main - 1;
                    right = right - 1;
                    
                    if (left == -1) {
                        $item.eq(4).addClass('BRecomend__left').fadeIn();
                    } else {
                        $item.eq(left).addClass('BRecomend__left').fadeIn();
                    }
                    if (right == -1) {
                        $item.eq(4).addClass('BRecomend__right').fadeIn();
                    }else{
                        $item.eq(right).addClass('BRecomend__right').fadeIn();
                    }
                    if (main == -1) {
                        $item.eq(4).addClass('BRecomend__main').fadeIn();
                    }else{
                        $item.eq(main).addClass('BRecomend__main').fadeIn();
                    }
                   

                });
                
            });
       
                    
