.BookPage
  .BookPage__container
    %section.BNew
      .BNew__heading
        %h2 書籍追加
      .NPage__contents
        .BNew__form
          = form_with model: @book, url: books_path, method: :post, class:"form", local: true do |f|
            %table.BNew__form__item
              %tr
                %th.BNew__thread
                  %span.BNew__tag 書籍画像：
                %td.BNew__thread= f.attachment_field :image
              %tr
                %th.BNew__thread
                  %span.BNew__tag 書籍名：
                %td.BNew__thread= f.text_field :name, class:"text__form__name"
              %tr
                %td
                %td
                  %span.BNew__message 必須
              %tr
                %th.BNew__thread
                  %span.BNew__tag 作者：
                %td.BNew__thread= f.text_field :writer 
              %tr
                %td
                %td
                  %span.BNew__message 必須
              %tr
                %th.BNew__thread
                  %span.BNew__tag 分類：
                %td.BNew__thread
                  = f.collection_select(:classification_id, @classifications, :id, :name)
              %tr
                %th.BNew__thread
                  %span.BNew__tag ジャンル：
                %td.BNew__thread
                  = f.collection_select(:genre_id, @genres, :id, :name)
              %tr
                %th.BNew__thread
                  %span.BNew__tag 紹介文：
                %td.BNew__thread--textbox= f.text_area :introduction
              %tr
                %td
                  = f.submit "追加", class: "BNew__form__btn"
                  

