
<div class="BookPage">
    <div class="BookPage__container">
        <section class="BSearch">
            
            <div class="BSearch__heading">
                <h2>書籍一覧</h2>
            </div>

            <div class="BSearch__contents">
            <table class="BSearch__table">
                <tr>
                    <th class="BSearch__thread">タイトル</th>
                    <th class="BSearch__thread">作者</th>
                    <th class="BSearch__thread--category">分類</th>
                    <th class="BSearch__thread--category">ジャンル</th>
                    <th></th>
                </tr>
                
                 <% @books.each do |book|%>
                 <tr>
                     <td class="BSearch__date"><%= book.name %></td>
                     <td class="BSearch__date"><%= book.writer %></td>
                     <td class="BSearch__date"><%= book.classification.name %></td>
                     <td class="BSearch__date"><%= book.genre.name %></td>
                     <td class="BSearch__date"><%= link_to "詳細", book_path(book), class: "BSearch__btn--show" %></td>
                 </tr>
                 <% end %>
            </table>
        </section>

    </div>
</div>

