<div class="MainPage">
  <div class="MainPage__container">
    <section class="BShow">
        
         <div class="BShow__action__return">
            <%= link_to "<<ランキングに戻る", books_path, class: "BShow__btn__return" %>
        </div>
        
        
        <div class="BShow__heading">
            <h2>書籍詳細</h2>
        </div> 
        
        
        <div class="BShow__contents">
            <div class="BShow__book">
                <div class="BShow__BookImage">
                    <%= attachment_image_tag @book, :image, :fill, 300, 300, fallback: "no_image_book.jpeg", size: "300x300" %>
                    <div class="BShow__status">
                        <div class="BShow__goods-<%= @book.id %>">
                           <%= render 'public/good_books/good', {book: @book} %>    
                        </div>
                        <div class="BShow__favorite-<%= @book.id %>">
                            <%= render 'public/favorite_books/favorite', {book: @book} %>
                        </div>
                        <div class="BShow__violation">
                            <%= render 'public/books/violation_report', {book: @book} %>
                        </div>
                    </div>
                </div>
                
                <div class="BShow__BookData">
                    <table class="BShow__item">
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">書籍名：</span></th>
                            <td class="BShow__thread"><%= @book.name %></td>
                        </tr>
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">作者：</span></th>
                            <td class="BShow__thread"><%= @book.writer %></td>
                        </tr>
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">分類：</span></th>
                            <td class="BShow__thread">
                                <%= @book.classification.name %>
                            </td>
                        </tr>
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">ジャンル：</span></th>
                            <td class="BShow__thread">
                                <%= @book.genre.name %>
                            </td>
                        </tr>
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">評価：</span></th>
                            <td class="BShow__average__rate">
                                <%= @average_rate %>点
                                <script>
                                $('.BShow__average__rate').raty({
                                    starOff:  '<%= asset_path('star-off.png') %>',
                                    starOn : '<%= asset_path('star-on.png') %>',
                                    starHalf: '<%= asset_path('star-half.png') %>',
                                    half: true,
                                    readOnly: true,
                                    score: <%= @average_rate %>
                                });  
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <th class="BShow__thread"><span class="BShow__tag">作品紹介</span></th>
                        </tr>
                    </table>
                    <div class="BShow__introduce">
                        <%= @book.introduction %>
                    </div>
                </div>
                
            </div>
            
            <div class="BShow__reviews">
                
                <div class="BShow__reviews__form">
                    <%= form_with(model:[@book, @review], local: true) do |f| %>
                    <table>
                        <tr>
                            <th class="BShow__tread"><span class="BShow__tag">レビュー</span></th>
                        </tr>
                        <tr class="BShow__review__rate"></tr>
                        <script>
                        $('.BShow__review__rate').raty({
                            starOn: "<%= asset_path('star-on.png') %>",
                            starOff: "<%= asset_path('star-off.png') %>",
                            starHalf: "<%= asset_path('star-half.png') %>",
                            scoreName: 'review[rate]',
                            half: true,
                        });
                        </script>
                        <tr>
                           <td><%= f.text_area :comment, placeholder: "本の評価", class: "BShow__form__text" %></td> 
                        </tr>
                        
                        <tr>
                            <td>
                                <%= f.submit "コメントする" %>
                            </td>
                        </tr>
                    </table>
                    <% end %>
                </div>
                
                <div class="BShow__reviews__comments">
                    <table>
                        <% @reviews.each do |review| %>
                        <tr>
                            <td>
                                <%= link_to user_path(review.user) do %>
                                    <%= attachment_image_tag review.user, :image, :fill, 100, 100, fallback: "no_image_book.jpeg",size: "50x50" %>
                                <% end %>
                                <span class="BShow__tag"><%= review.user.nick_name %></span>
                                <%= review.rate %>点
                                <span class="BShow__rate__show-<%= review.id %>"></span>
                                <script>
                                $('.BShow__rate__show-<%= review.id %>').empty(); 
                                $('.BShow__rate__show-<%= review.id %>').raty({
                                    starOff:  '<%= asset_path('star-off.png') %>',
                                    starOn : '<%= asset_path('star-on.png') %>',
                                    starHalf: '<%= asset_path('star-half.png') %>',
                                    half: true,
                                    readOnly: true,
                                    score: <%= review.rate %>
                                });  
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="BShow__comments"><%= review.comment %></div></td>
                        </tr>
                        <tr>
                            <td>
                                <% if review.user_id == current_user.id %>
                                    <%= link_to "削除", book_review_path(review.book, review), method: :delete, class: "BShow__btn__delete" %>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </table>
                </div>
                
                <div class="BShow__paginate" >
                    <%= paginate @reviews %>
                </div>
                
            </div>
        </div>
        
        
    </section>
  </div>
</div>

