- @reviews.each do |review|
    = review.id
    %p{id:"book__rate__show-#{review.id}"}
    %br
        :javascript
            $("#book__rate__show-#{review.id}").empty(); 
            $("#book__rate__show-#{review.id}").raty({
                starOff:  "#{asset_path('star-off.png')}",
                starOn : "#{asset_path('star-on.png')}",
                starHalf: "#{asset_path('star-half.png')}",
                half: true,
                readOnly: true,
                score: #{review.rate}
            });