<div class="UserPage">
  <div class="UserPage__container">
    
    <section class="UEdit">
        <div class="UEdit__action__return">
            <%= link_to "戻る", mypage_path, class: "UEdit__btn__return" %>
        </div>
        <div class="UEdit__heading">
            <h2>会員編集</h2>
        </div>
        
        <div class="UEdit__contents">
            
            <div class="UEdit__BookImage">
                <div class="UEdit__ImageTag">
                    <p class="UEdit__tag">現在の画像</p>
                </div>
                <div class="UEdit__image">
                    <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '300x300' %>
                </div>
            </div>
            
            <div class="UEdit__form">
            <%= form_with model: @user, url: mypage_edit_path, method: :patch, local: true do |f| %>
                <table class="UEdit__item">
                    <tr>
                        <th class="UEdit__thread"><span class="UEdit__tag">プロフィール画像：</span></th>
                        <td class="UEdit__thread"><%= f.attachment_field :image %></td>
                    </tr>
                    <tr>
                        <th class="UEdit__thread"><span class="UEdit__tag">ニックネーム：</span></th>
                        <td class="UEdit__thread"><%= f.text_field :nick_name %></td>
                    </tr>
                    <tr>
                        <th class="UEdit__thread"><span class="UEdit__tag">メールアドレス：</span></th>
                        <td class="UEdit__thread"><%= f.text_field :email %></td>
                    </tr>
                </table>
                <div class="UEdit__action">
                    <%= f.submit "変更", class: "UEdit__btn" %>
                </div>
            <% end %>
            </div>
        </div>
        
    </section>

  </div>
</div>

