.UShowPage
  .UShowPage__container
    %section.UShow
      .UShow__action__return
        = link_to "<<ランキングへ戻る", books_path, class: "UShow__btn__return"
      .UShow__heading
        %h2 会員情報
      .UShow__contents
        .UShow__UserImage
          = attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '300x300'
          - if @user != current_user
            .UShow__relationship
              = render 'public/relationships/favorite', {user: @user}
        .UShow__table
          %table
            %tr
              %th.UShow__thread
                %span.UShow__tag 登録日：
              %td.UShow__date= @user.created_at.strftime('%y年%m月%d日')
            %tr
              %th.UShow__thread
                %span.UShow__tag ニックネーム：
              %td.UShow__date= @user.nick_name
            %tr
              %th.UShow__thread
                %span.UShow__tag メールアドレス：
              %td.UShow__date= @user.email
            %tr
              %th.UEdit__thread
                %span.UEdit__tag 自己紹介
          .UShow__introduce
            = @user.introduce
      %div
        .UShow__PageTabs
          = link_to "Books", user_favorite_books_path(@user), remote: true, class: "UShow__tab"
          = link_to "Follows", user_relationships_path(@user), remote: true, class: "UShow__tab--other"
      .UShow__index
        = render 'public/users/book_favorites', favorite_books: @favorite_books
