<div class="UShowPage">
    <div class="UShowPage__container">
        <section class="UShow">
            
            <div class="UShow__action__return">
                <%= link_to "<<ランキングへ戻る", books_path, class: "UShow__btn__return" %>
            </div>
            
            <div class="UShow__heading">
                <h2>会員情報</h2>
            </div>
            
            <div class="UShow__contents">
                
                <div class="UShow__UserImage">
                    <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image.jpg",size: '300x300' %>
                    <% if @user != current_user %> 
                        <div class="UShow__relationship">
                            <%= render 'public/relationships/favorite', {user: @user} %>
                        </div>
                    <% end %>
                </div>
                
                <div class="UShow__table">
                    <table>
                        <tr>
                            <th class="UShow__thread"><span class="UShow__tag">登録日：</span></th>
                            <td class="UShow__date"><%= @user.created_at.strftime('%y年%m月%d日') %></td>
                        </tr>
                        <tr>
                            <th class="UShow__thread"><span class="UShow__tag">ニックネーム：</span></th>
                            <td class="UShow__date"><%= @user.nick_name %></td>
                        </tr>
                        <tr>
                            <th class="UShow__thread"><span class="UShow__tag">メールアドレス：</span></th>
                            <td class="UShow__date"><%= @user.email %></td>
                        </tr>
                        <tr>
                            <th class="UEdit__thread"><span class="UEdit__tag">自己紹介</span></th>
                        </tr>
                    </table>
                    <div class="UShow__introduce">
                        <%= @user.introduce %>
                    </div>
                </div>
                
            </div>
            <div>
            <div class="UShow__PageTabs">
                <%= link_to "Books", user_favorite_books_path(@user), remote: true, class: "UShow__tab" %>
                <%= link_to "Follows", user_relationships_path(@user), remote: true, class: "UShow__tab--other" %>
            </div>
            </div>
            
            <div class="UShow__index">
                <%= render 'public/users/book_favorites', favorite_books: @favorite_books %>
            </div>
        </section>
    </div>
</div>

