!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EEBooks
    = csrf_meta_tags
    = csp_meta_tag
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/6b92dd2514.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    - if admin_signed_in?
      .AHeader
        .AHeader__container
          .AHeader__contents
          
            .AHeader__logo
              %h1
                = link_to root_path, class: "AHeader__logo__text" do
                  ＼EE／.Books
                  
            .header__nav
              .nav--admin
                %ul.nav__bar--admin
                  %li.nav__item--admin
                    = link_to admin_top_path, class: "nav__link--admin" do
                      %i.fas.fa-bullhorn>
                      　通報一覧
                  %li.nav__item--admin
                    = link_to admin_users_path, class: "nav__link--admin" do
                      %i.fas.fa-user>
                      　会員一覧
                  %li.nav__item--admin
                    = link_to admin_books_path, class: "nav__link--admin" do
                      %i.fas.fa-book-open
                      書籍一覧
                  %li.nav__item--admin
                    = link_to admin_classifications_path, class: "nav__link--admin" do
                      %i.fas.fa-file-signature
                      分類一覧
                  %li.nav__item--admin
                    = link_to admin_genres_path, class: "nav__link--admin" do
                      %i.fas.fa-file-signature
                      ジャンル一覧
                  %li.nav__item--admin
                    = link_to destroy_admin_session_path, method: :delete, class: "nav__link--admin" do
                      %i.fas.fa-sign-out-alt
                      ログアウト
                      
                      
    - elsif user_signed_in?
      .header
        .header__container
          .header__contents
          
            .header__logo
              %h1
                = link_to books_path, class: "header__logo__text" do
                  ＼EE／.Books
                  
            .header__nav
              .nav
                %ul.nav__bar
                  %li.nav__item
                    = link_to about_path, class: "nav__link" do
                      %i.fab.fa-readme>
                      　About
                  %li.nav__item
                    = link_to books_path, class: "nav__link" do
                      %i.fas.fa-file-signature
                      Booksランキング
                  %li.nav__item
                    = link_to user_path(current_user.id), class: "nav__link" do
                      %i.fas.fa-cheese
                      マイページ
                  %li.nav__item
                    = link_to destroy_user_session_path, method: :delete, class: "nav__link" do
                      %i.fas.fa-sign-out-alt
                      ログアウト
                      
            .search
              = form_with url: books_search_path, method: :get, local: true do |f|
                = f.text_field :keyword, value: @keyword
                = f.submit "検索"
                    
            
    - else
      .header
        .header__container
          .header__contents
            .header__logo
              %h1
                = link_to root_path, class: "header__logo__text" do
                  ＼EE／.Books
            .header__nav
              .nav
                %ul.nav__bar
                  %li.nav__item
                    = link_to about_path, class: "nav__link" do
                      %i.fab.fa-readme>
                      　About
                  %li#sign_up.nav__item
                    %i.fas.fa-file-signature
                    会員登録
                  %li#sign_in.nav__item
                    %i.fas.fa-sign-in-alt
                    %a ログイン
                  :javascript
                    $(function() {
                      $('#sign_in, #signUp__announce').click(function() {
                        $('.signIn').fadeIn();
                        $('.signUp').fadeOut();
                      });
                      $('#sign_up, #signIn__announce').click(function() {
                        $('.signUp').fadeIn();
                        $('.signIn').fadeOut();
                      });
                      $('.signIn__closeModal, .signUp__closeModal').click(function() {
                        $('.signIn, .signUp').fadeOut();
                      });
                    });
    
    .signIn
      .signIn__closeModal
        %i.far.fa-2x.fa-times-circle
      .signIn__contents
        =render 'layouts/sign_in_form', {user: @user}
        
    .signUp
      .signUp__closeModal
        %i.far.fa-2x.fa-times-circle
      .signUp__contents 
        =render 'layouts/sign_up_form', {user: @user}   
       
        
    = yield
        
        
    %footer
      - if admin_signed_in?
        .footer__contents--admin
          %h3.footer__text--admin ©︎copy-right
      - else
        .footer__contents
          %h3.footer__text ©︎copy-right

